@import url('./variables.css');

@media (max-width: 767px) {

	#ico_menu {
	    display: none;
	}

	#btnnav {
	    position: fixed;
	    top: 3%;
	    left: 4%;
	    width: 50px;
	    height: 50px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    color: var(--text-w);
	    font-size: 30px;
	    z-index: 1001;
	}

	nav {
	    position: fixed;
	    width: 100vw;
	    height: 100vh;
	    background: var(--bg-nav);
	    z-index: 1000;
	    transform: translateX(-100%);
	    transition: transform 0.35s ease;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}

	#ico_menu:checked ~ nav {
	    transform: translateX(0);
	}

	#cerrarnav {
	    position: absolute;
	    top: 3%;
	    right: 4%;
	    width: 50px;
	    height: 50px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    color: var(--text-w);
	    font-size: 30px;
	}

	nav ul {
	    list-style: none;
	    display: flex;
	    flex-direction: column;
	    width: fit-content;
	}

	nav li {
	    width: 100%;
	}

	nav a {
	    display: block;
	    width: 100%;
	    box-sizing: border-box;
		padding: 20px;
	    text-decoration: none;
		text-align: center;
	    font-size: 22px;
	    font-weight: 600;
	    color: var(--text-w);
	}
}