@import url('./variables.css');

@media (max-width: 767px){

	main {
		min-height: auto;
		overflow: hidden;
		padding: 0 6%;
		
		h1 {
			padding-top: 65px;
			font-size: var(--font-h1);
			color: var(--text-ic);
			text-align: center;
		}
		p {
			padding-top: 5px;
			text-align: justify;
		}
	}

	section {
		padding-top: 25px;
		width: 100%;
	}

	.cont_rut {
		background-color: var(--bg-nav);
		padding: 12px;
		border-radius: 12px;
		border: 1px solid var(--border-color);
		margin-bottom: 16px;
		margin-left: 6%;
		margin-right: 6%;
		transition: background-color 0.3s ease, border-color 0.3s ease;
		input {
			display: none;
		}
		.titulo {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.titulo i {
			padding-left: 10px;
			font-size: var(--font-h2);
			color: var(--text-Ttar);
		}
		h2 {
			font-size: var(--font-h2);
			color: var(--text-Ttar);
			text-align: left;
		}
		.cont_interno p {
			padding: 4px 0;
			font-size: var(--font-p);
			color: var(--text-Ptar);
			text-align: center;
		}
		.cont_interno video {
			width: 100%;
			max-width: 700px;
			height: auto;
			display: block;
			margin: auto;
			border-radius: 8px;
			border: 1px solid var(--border-color);
		}
	}

	/* Ocultar contenido */
	.cont_interno {
		max-height: 0;
		overflow: hidden;
		padding: 0 10px;
		opacity: 0;
		transition:
			max-height 0.5s ease,
			opacity 0.3s ease,
			padding 0.5s ease;
	}

	/* Mostrar contenido */
	.cont_rut input:checked ~ .cont_interno {
		max-height: 1000px;
		padding-top: 15px;
		padding-bottom: 15px;
		opacity: 1;
	}

	.cont_rut:has(input:checked) {
		border: 2px solid var(--border-color);
	}
}