@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

:root{
	/*Fondos*/
	--bg-color: #00001a;     
	--bg-nav: #000033;    
	--bg-nav2: #00004d;   
	/*Textos*/
	--text-w: #f9fafb;        
	--text-ic: #38bdf8; 
	--text-Ttar: #ceeffd;        
	--text-Ptar: #e7f7fe;             
	/*Bordes*/
	--border-color: #38bdf8;   

	--tipografia: 'Poppins', sans-serif;
	--font-Th1: clamp(50px, 10vw, 70vh);
	--font-h1: clamp(30px, 8vw, 50vh);
	--font-h2: clamp(18px, 4vw, 20vh);
	--font-h3: clamp(17px, 3vw, 5vh);
	--font-p: clamp(15px, 3vw, 2vh);
	--font-span: clamp(18px, 3vw, 2.5vh);
	--font-label: clamp(22px, 1vw, 2vw);
	--font-forms: clamp(16px, 1vw, 2vw);
	--font-a: clamp(18px, 1vw, 2vw);
}

*{
	font-family: var(--tipografia);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--bg-color);
	color: var(--text-w);
}