:root{
	/*Fondos*/
	--bg-color: #0b0f17;     
	--bg-nav: #111827;       
	--bg-rut: #1f2937;       
	--bg-rut-a: #2b384e;
	/*Textos*/
	--text-w: #f9fafb;        
	--text-r: #38bdf8;        
	--text-a: #2563eb;     
	--text-c: #9ca3af;        
	--text-gris: #6b7280;    
	/*Bordes*/
	--border-color: #374151;  
	--border-sel: #60a5fa;  
	--tipografia: 'Poppins', sans-serif;
	--font-h1: clamp(50px, 10vw, 70vh);
	--font-h2: clamp(20px, 4vw, 20vh);
	--font-h3: clamp(18px, 3vw, 5vh);
	--font-p: clamp(16px, 3vw, 2vh);
	--font-span: clamp(18px, 3vw, 2.5vh);
	--font-label: clamp(18px, 1vw, 2vw);
	--font-forms: clamp(16px, 1vw, 2vw);
	--font-a: clamp(17px, 1vw, 2vw);
}

*{
	font-family: var(--tipografia);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--bg-color);
	color: var(--text-w);
}